main {
  display: flex;
  
}

.search-box {
  width: 20%;
  background-color: rgb(250, 244, 226);
  border-right: 2px solid orange;
  text-transform: capitalize;
  padding: 20px;
  z-index: -1;
  position: fixed;
  overflow-y:auto;
  height: 88vh;
}

.search-box .search-heading {
  text-align: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.769);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.input-box {
  height: 94%;
  width: 100%;

}

.search-tagNumber,
.search-weight,
.search-date,
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.769);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 10px;
  background-color: bisque;
  margin-bottom: 20px;
  margin-top: 20px;
}

label {
  font-size: 18px;
  font-weight: 600;
  color: rgb(48, 47, 47);
}

input {
  width: 80%;
  margin: 10px;
  height: 30px;
  outline: none;
  border: 2px solid;
  border-radius: 5px;
  padding-left: 10px;
  font-family: monospace;
}

.search-box p {
  font-weight: 900;
  color: red;
}

.btn button {
  padding: 6px 40px;
  font-size: 20px;
  font-weight: 900;
  background-color: rgb(235, 195, 143);
  border-color: aliceblue;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  transition: 0.4s ease-in-out;
}

.btn button:hover {
  border-color: rgb(235, 195, 143);
  background-color: aliceblue;
}

.btn button:active {
  transform: scale(0.99);
  font-size: 19px;
}

.item-deatils {
  width: 80%;
  height: 100vh;
  background-color: red;
}

.show-details {
  width: 80%;
  background-color: rgb(255, 238, 213);
  height: 100vh;
  margin-left: auto;
}

table {
  width: 90%;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  border: 2px solid rgb(0, 0, 0);
  border-bottom: none;
}

table thead tr th {
  padding: 10px;
  font-weight: 600;
  background-color: rgb(219, 181, 255);

}

table tbody tr td {
  padding: 8px;
  border: 1px solid black;
  background-color: rgb(228, 243, 255);

}

.removeData {
  background-color: red;
  padding: 2px 10px;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 800;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}