/* navbar and footer design  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Varela+Round&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  height: 12vh;
  border-bottom: 2px solid #cda5363f;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  box-shadow: 0px 5px 5px rgb(108, 99, 99);
}
.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 90px;
}

.logoname {
  text-align: center;

}

.logoname h2 {
  font-size: 30px;
  border-bottom: 2px solid;
  border-image: linear-gradient(90deg, #ffc115, #701803);
  border-image-slice: 1;
  border-radius: 8px;
  color: #ffc115;
  padding-bottom: 2px;
  margin-bottom: 6px;
  text-shadow: 2px 1px 2px black;
}

.logoname p {
  padding-top: 2px;
  font-weight: 600;
  color: rgb(57, 44, 38);
  font-size: 13px;
}
.right{

  width: 20%;
}
/* nav items */

.navitems {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;


}

.navitems a {
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 15px;
  transition: 0.3s ease-in-out;
  color: #3e5485;
}
header .navitems .active{
  color: rgb(255, 123, 0);
}

.navitems a:hover {
  border-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: rgb(255, 74, 74);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}




#day-date{
  color: #595757;
  margin-bottom: 10px;
  font-weight: 800;
}

#time{
  color: #595757;
  font-weight: 800;
}
 span{
  color: #000000;
  margin-right: 10px;
}
#day-date #day{
  margin-left: 10px;
  color: #701803;
}


